/* Footer.css */
.footer-container {
  background-color: #1b1a1b;
  border: 5px solid #e25420; /* Orange border all around */
  padding: 20px;
  border-radius: 8px; /* Padding to ensure content doesn't touch the border */
}

.footer-background {
  padding: 20px;
}

.footer-overlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo {
  height: 240px;
  display: flex;
  align-items: left;
}

.footer-info {
  color: white;
}

.socials-heading {
  color: white;
  font-size: 1.25rem; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Space between the heading and social media items */
}

.sae-heading {
  font-size: 1.5rem;
  margin: 0;
}

.collegiate-club,
.address,
.tack-info {
  margin: 5px 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 30px; /* Same as logo height */
  height: 30px; /* Same as logo height */
  background-size: cover;
  background-position: center;
}

.social-tag {
  color: white;
  font-size: 1rem;
}

.email-signup-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stay-up-to-date {
  color: white;
}

.stay-up-to-date h3 {
  margin: 0;
  font-size: 1.25rem; /* Adjust as needed */
}

.email-signup {
  display: flex;
  gap: 10px;
}

.email-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.send-button {
  background-color: #e25420;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #d9431a; /* Darker shade on hover */
}
