.projects-section {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #2b2a2a
  ); /* Gradient from white to light gray */
  padding: 40px 20px;
  text-align: center;
}

.main-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1d1b1b;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid layout */
  gap: 20px;
  max-width: 1200px; /* Limit width of the container */
  margin: 0 auto;
  padding: 20px;
  background-color: white; /* White background for the container */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
}

.project-item {
  text-align: center;
}

.project-photo {
  width: 100px; /* Fixed size for the images */
  height: auto;
  margin-bottom: 10px;
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-heading {
    font-size: 1.5rem; /* Smaller heading on smaller screens */
  }

  .projects-container {
    padding: 10px;
  }

  .project-photo {
    width: 80px; /* Smaller images on smaller screens */
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
  }
}
