body {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  padding: 10px;
  cursor: pointer;
}

section {
  padding: 20px;
  margin: 0px;
}

footer {
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
}
